.Register {
  background: transparent;
  /*
  .login-form {
    max-width: 300px;
  }
  .login-form-forgot {
    float: right;
  }*/
  .login-form-button {
    width: 100%;
  }
}

.Title {
  text-align: center;
}

$black_60: rgba(0,0,0,0.6);

.cardBox {
	box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.6);
}

.Divider {
  height: 150px;
}

.avatar-uploader > .ant-upload {
  width: 170px;
  height: 170px;
  margin-top: 10px;
  margin-left: 65px;
}