.ant-calendar-picker:hover .ant-calendar-picker-input:not(.ant-input-disabled) {
  border-color: #3babd4;
}

.ant-calendar-today .ant-calendar-date {
  color: #3babd4;
  font-weight: bold;
  border-color: #3babd4;
}

.ant-calendar-date:active {
  color: #fff;
  background: #3babd4;
}

.ant-calendar-selected-date .ant-calendar-date,
.ant-calendar-selected-start-date .ant-calendar-date,
.ant-calendar-selected-end-date .ant-calendar-date {
  color: #fff;
  background: #3babd4;
  border: 1px solid transparent;
}

.ant-calendar-header a:hover {
  color: #3babd4;
}
