.ant-slider-track {
  position: absolute;
  height: 4px;
  background-color: #3babd4;
  border-radius: 4px;
  -webkit-transition: background-color 0.3s;
  transition: background-color 0.3s;
}

.ant-slider-handle.ant-tooltip-open {
  border-color: #3babd4;
}

.ant-slider:hover .ant-slider-track {
  background-color: #3babd4;
}

.ant-slider-dot-active {
  border-color: #3babd4;
}