.ant-steps-item-process .ant-steps-item-icon > .ant-steps-icon .ant-steps-icon-dot {
  background: #3babd4 ;
}

.ant-steps-item-finish .ant-steps-item-icon > .ant-steps-icon .ant-steps-icon-dot {
  background: #3babd4;
}

.ant-steps-item-finish > .ant-steps-item-tail::after {
  background-color: #3babd4;
}