.SignIn {
  background: transparent;

  .login-form-button {
    width: 100%;
  }
}

.img {
  display: block;
  margin: auto;
}

.forgot {
  text-align: center;
}

.cardBox {
	box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.6);
}

.Divider {
  height: 150px;
}

.home-background {
  background: linear-gradient(
    #135481,
    #016eb8,
    #0285c9,
    #00a7e5,
    #52bebb
    );

    .login-form-button {
      width: 100%;
    }
}

body {
  margin: 0;
  color: rgba(0, 0, 0, 0.65);
  font-size: 14px;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'PingFang SC', 'Hiragino Sans GB', 'Microsoft YaHei', 'Helvetica Neue', Helvetica, Arial, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol';
  font-variant: tabular-nums;
  line-height: 1.5;
  background-color: #51bebb;
  -webkit-font-feature-settings: 'tnum';
  font-feature-settings: 'tnum';
}