@import '../../colors.scss';

  .home-card-background {
    background: linear-gradient(
      90deg,
      $chathams_blue,
      $lochmara,
      $executive,
      $cerulean
      )
  }

  .home-icon {
    color:  $secondary;
    font-size: 130px;
  }

  .home-button {
    background: #394a4d;
    color: white;
    margin-top: 10px;
    width: 100%;
  }

  .home-column {
    text-align: center;
    margin-bottom: 50px;
  }