.ant-list-item-meta.detail-requested{
  h4{
      margin-bottom: 2px;
      margin-right: 16px;
    }
  }

  .demo-infinite-container {
    overflow: auto;
    padding: 0px 0px;
    height: 550px;
  }

  .demo-loading-container {
    position: absolute;
    bottom: 40px;
    width: 100%;
    text-align: center;
  }

  .divider {
    padding: 0px;
    margin:  0px;
    margin-top:  5px;
  }