.divShowInfoMarker {
    margin-left: '140px';
    position: absolute;
}

.showInfoMarker {
    position: relative;
    display: inline;
}
.showInfoMarker span {
    position: absolute;
    width:240px;
    color: #FFFFFF;
    margin-left: '150px';
    background: #0c6170;
    line-height: 30px;
    text-align: center;
    /* visibility: hidden; */
    border-radius: 6px;
    box-shadow: -1px 0px 0px #ffffff;
    border-right: 8px solid #0c6170;
    border-top: 8px solid transparent;
    border-bottom: 8px solid transparent;
}
.showInfoMarker span:before {
    content: '';
    position: absolute;
    top: 50%;
    right: 100%;
    margin-top: -8px;
    width: 0; height: 0;
    border-right: 8px solid #0c6170;
    border-top: 8px solid transparent;
    border-bottom: 8px solid transparent;
}


.markerCard {
    position: 'absolute';
    margin-top:'28px';
    margin-left: '30px';
    /* borderRadius: '0% 12% 12% 12%'; */
    border-radius: '6px';
    animation-duration: '0s';
    font-size: '11px';
}


.infinite-container {
    border: 1px solid #e8e8e8;
    border-radius: 4px;
    overflow: auto;
    padding: 8px 24px;
    height: 200px;
  }