  .profile {
    background-color:  red;
    width: max-content;;
  }

  .avatar-uploader > .ant-upload {
    width: 170px;
    height: 170px;
    margin-top: 10px;
    margin-left: 65px;
  }

  .message-error {
    border:2px;
    border-color:red;
    border-style:solid;
    font-size: 13px;
    padding: 10px;
    width: 50%;
  }