@import 'colors.scss';

.list-icon-vertical{
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .list-icon-horizontal{
    display: flex;
    flex-direction: row
  }
  .status{
    font-size: 18px;
  }

  .success{
    color: $success;
  }

  .error{
    color: $danger;
  }

  .warning{
    color: $warning;
  }

  .primary{
    color: $primary;
  }

  .secondary{
    color: $secondary;
  }

  .icon-horizontal{
    font-size: 18px;
    color: $primary;
    margin-right: 5px;
  }

  .icon-vertical{
    font-size: 35px;
    color: $primary;
  }

  .home-card-background {
    background: linear-gradient(
      90deg,
      $chathams_blue,
      $lochmara,
      $executive,
      $cerulean
      )
  }