$primary:  #394a4d;
$warning: #ffc107;
$danger: #dc3545;
$success: #28a745;
$secondary: #52bebb;
$chathams_blue: #135481;
$lochmara: #016eb8;
$executive: #0285c9;
$cerulean: #00a7e5;
$scooter: #3babd4;
