.divShowInfoMarker {
    margin-left: '140px';
    position: absolute;
}

.showInfoMarker {
    position: relative;
    display: inline;
}
.showInfoMarker span {
    position: absolute;
    min-width: 240px;
    width: '240px';
    color: #FFFFFF;
    margin-left: '150px';
    background: #0c6170;
    line-height: 30px;
    text-align: center;
    /* visibility: hidden; */
    border-radius: 6px;
    box-shadow: -1px 0px 0px #ffffff;
    border-right: 8px solid #0c6170;
    border-top: 8px solid transparent;
    border-bottom: 8px solid transparent;
}
.showInfoMarker span:before {
    content: '';
    position: absolute;
    top: 50%;
    right: 100%;
    margin-top: -8px;
    width: 0; height: 0;
    border-right: 8px solid #0c6170;
    border-top: 8px solid transparent;
    border-bottom: 8px solid transparent;
}